@model List<UI.Models.PlayerViewModel>

<h2>select players</h2>
@using (Html.BeginForm("PlayersToGame", "Game", null, FormMethod.Post))
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].playername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].score)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.UserPwd) *@
            @* </th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.playername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.score)
                </td>
                @* <td> *@
                @*     @Html.DisplayFor(modelItem => item.UserPwd) *@
                @* </td> *@
                <td>
                    <input type="checkbox" name="players" value="@item.playername" checked="@item.IsSelected">
                </td>
            </tr>
        }
    </tbody>
</table>
 <button type="submit">choose game</button>
}